@use '../abstract/var';
@use '../abstract/mixins';

header {
    background: var.$color-background;
    padding: 3rem 1rem;

    @include mixins.tablet {
        padding-bottom: 6rem;
    }

    nav {
        @include mixins.flex(flex, column, center);

        img {
            max-width: 270px;
            width: 50%;
        }

        .linha {
            border-top: 1px solid var.$color-text;
            width: 90%;
            margin: 2.5rem;

            @include mixins.tablet {
                width: 80%;
            }
        }

        ul {
            display: inline-flex;
            gap: 2rem;
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;

                a {
                    @include mixins.font-style(var.$font-text, 1rem, var.$color-text);
                    text-decoration: none;

                    &:hover {
                        font-weight: 600;
                    }

                    @include mixins.tablet {
                        font-size: 1.375rem;
                    }
                }
            }
        }
    }

    #home {
        @include mixins.flex(flex, column, center);
        @include mixins.margem(80%);
        text-align: center;
        padding-top: 5rem;

        @include mixins.tablet {
            max-width: 1040px;
            text-align: start;
            @include mixins.margem(70%);
        }

        @include mixins.desktop {
            flex-direction: row;
            width: 80%;
        }



        h1 {
            @include mixins.font-style(var.$font-title, 1.9rem, var.$color-text);

            span {
                color: var.$color-title;
            }
        }

        .btn-main {
            @include mixins.font-style(var.$font-text, 1.375rem, var.$color-button-text);
            @include mixins.margem(100%);
            @include mixins.border(1rem, none, 36px);
            background-color: var.$color-button;
            margin-bottom: 1.5rem;

            &:hover {
                transition: .3s;
                background-color: var.$color-title;
            }

            @include mixins.tablet {
                width: 50%;
            }
        }

        img {
            max-width: 500px;
            width: 100%;

            @include mixins.tablet {
                width: 80%;
                margin-left: 10%;
            }

            @include mixins.desktop {
                max-width: 747px;
            }
        }
    }
}