$color-background: linear-gradient(180deg, #E8F5C8 0%, #FFF 96.87%);
$color-background-cards: linear-gradient(180deg, rgba(255, 255, 255, 0.70) 0%, rgba(202, 212, 250, 0.30) 100%);
$color-background-footer: #E8F5C8;

$color-text: #0C0421;
$color-title: #4E75FF;
$color-button: #CAD4FA;
$color-button-text: #fff;

$font-text: 'Montserrat', sans-serif;
$font-title: 'Krona One', sans-serif;